div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffeb3bab;
    padding: 50px;
    font-size: 20px;
  }


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}